USE [master]
GO
/****** Object:  Database [UsersAndAwardsDB]    Script Date: 13.02.2019 20:45:44 ******/
CREATE DATABASE [UsersAndAwardsDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAndAwardsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAndAwardsDB]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[AwardId] [int] IDENTITY(1,1) NOT NULL,
	[AwardTitle] [nvarchar](100) NOT NULL,
	[AwardImageId] [int] NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardsImages]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[MimeType] [varchar](100) NOT NULL,
	[ImageData] [varchar](max) NOT NULL,
 CONSTRAINT [PK_AwardsImages_1] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardsUsers]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsUsers](
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
 CONSTRAINT [PK_AwardsUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserDateOfBirth] [date] NOT NULL,
	[UserImageId] [int] NULL,
	[UserPassword] [char](64) NULL,
	[UserRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersImages]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[MimeType] [varchar](100) NOT NULL,
	[ImageData] [varchar](max) NOT NULL,
 CONSTRAINT [PK_UsersImages_1] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 
GO
INSERT [dbo].[Awards] ([AwardId], [AwardTitle], [AwardImageId]) VALUES (1, N'I''m a man', 1)
GO
INSERT [dbo].[Awards] ([AwardId], [AwardTitle], [AwardImageId]) VALUES (11, N'Little Kitty', 18)
GO
INSERT [dbo].[Awards] ([AwardId], [AwardTitle], [AwardImageId]) VALUES (12, N'Deadpan', 19)
GO
SET IDENTITY_INSERT [dbo].[Awards] OFF
GO
SET IDENTITY_INSERT [dbo].[AwardsImages] ON 
GO
SET IDENTITY_INSERT [dbo].[AwardsImages] OFF
GO
INSERT [dbo].[AwardsUsers] ([UserId], [AwardId]) VALUES (5, 1)
GO
INSERT [dbo].[AwardsUsers] ([UserId], [AwardId]) VALUES (5, 11)
GO
INSERT [dbo].[AwardsUsers] ([UserId], [AwardId]) VALUES (5, 12)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserPassword], [UserRole]) VALUES (5, N'BigDaddy', CAST(N'1985-06-30' AS Date), 7, N'8a2883bc9c45cb67c38d87db1924373afdfc3283444292f7254271828bad4315', N'SuperAdmin')
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserPassword], [UserRole]) VALUES (10, N'Arkadiy', CAST(N'1952-03-01' AS Date), 6, N'6c06c3fba2211c063f7c6031eb62e357d915e218c73c26f7c8643b7f1d458432', N'Admin')
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserPassword], [UserRole]) VALUES (12, N'Basilio', CAST(N'1986-11-11' AS Date), 8, N'8b887a14c3c3529a9c26f5538b8bccd19114615a8bd5b2e256ccf948e4832bfe', N'User')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersImages] ON 
GO
SET IDENTITY_INSERT [dbo].[UsersImages] OFF
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK_Awards_AwardsImages] FOREIGN KEY([AwardImageId])
REFERENCES [dbo].[AwardsImages] ([ImageId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK_Awards_AwardsImages]
GO
ALTER TABLE [dbo].[AwardsUsers]  WITH CHECK ADD  CONSTRAINT [FK_AwardsUsers_Awards] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([AwardId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AwardsUsers] CHECK CONSTRAINT [FK_AwardsUsers_Awards]
GO
ALTER TABLE [dbo].[AwardsUsers]  WITH CHECK ADD  CONSTRAINT [FK_AwardsUsers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AwardsUsers] CHECK CONSTRAINT [FK_AwardsUsers_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UsersImages] FOREIGN KEY([UserImageId])
REFERENCES [dbo].[UsersImages] ([ImageId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UsersImages]
GO
/****** Object:  StoredProcedure [dbo].[Awards_Add]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_Add]
	@AwardTitle nvarchar(100),
	@AwardImageId int
AS
BEGIN
	INSERT INTO dbo.Awards (AwardTitle, AwardImageId)
	VALUES (@AwardTitle, @AwardImageId)
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_AddImageToAward]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_AddImageToAward]
	@AwardId int,
	@ImageId int
AS
BEGIN
	UPDATE [dbo].[Awards]
	SET [AwardImageId] = @ImageId
	WHERE [AwardId] = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_GetAll]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_GetAll]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [AwardId], [AwardTitle], [AwardImageId] FROM [dbo].[Awards]
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_GetAwardById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_GetAwardById]
	@AwardId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [AwardId], [AwardTitle], [AwardImageId] FROM [dbo].[Awards]
	WHERE [AwardId] = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_GetAwardByTitle]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_GetAwardByTitle]
	@AwardTitle nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [AwardId], [AwardTitle], [AwardImageId] FROM [dbo].[Awards]
	WHERE [AwardTitle] = @AwardTitle
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_GetAwardsByUserId]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_GetAwardsByUserId]
	@UserId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [A].[AwardId], [A].[AwardTitle], [A].[AwardImageId] FROM [dbo].[Awards] AS A
	JOIN [dbo].[AwardsUsers] AS AU
	ON [A].[AwardId] = [AU].[AwardId]
	JOIN [dbo].[Users] AS U
	ON [U].[UserId] = [AU].[UserId]
	WHERE [U].[UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_RemoveAwardsById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_RemoveAwardsById]
	@AwardId int
AS
BEGIN
	DELETE FROM [dbo].[Awards]
	WHERE [AwardId] = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[Awards_Update]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Awards_Update]
	@AwardId int,
	@AwardTitle nvarchar(100)
AS
BEGIN
	UPDATE [dbo].[Awards]
	SET [AwardTitle] = @AwardTitle
	WHERE [AwardId] = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsImage_AddDefault]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsImage_AddDefault]
	@MimeType varchar(100),
	@ImageData varchar(MAX)
AS
BEGIN
	INSERT INTO [dbo].[AwardsImages] (MimeType, ImageData)	VALUES (@MimeType, @ImageData)
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsImages_Add]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsImages_Add]
	@MimeType varchar(100),
	@ImageData varchar(MAX),
	@ImageId int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[AwardsImages] (MimeType, ImageData) VALUES (@MimeType, @ImageData)
	SET @ImageId = scope_identity()
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsImages_GetById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsImages_GetById]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData] FROM [dbo].[AwardsImages]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsImages_RemoveImage]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsImages_RemoveImage]
	@ImageId int
AS
BEGIN
	DELETE FROM [dbo].[AwardsImages]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsUsers_Add]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsUsers_Add]
	@UserId int,
	@AwardId int
AS
BEGIN
	INSERT INTO dbo.AwardsUsers (UserId, AwardId)
	VALUES (@UserId, @AwardId)
END
GO
/****** Object:  StoredProcedure [dbo].[AwardsUsers_RemoveAwardFromUser]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardsUsers_RemoveAwardFromUser]
	@UserId int,
	@AwardId int
AS
BEGIN
	DELETE FROM [dbo].[AwardsUsers]
	WHERE [UserId] = @UserId AND [AwardId] = @AwardId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Add]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Add]
	@UserName nvarchar(100),
	@UserDateOfBirth date,
	@UserImageId int,
	@UserRole varchar(50)
AS
BEGIN
	INSERT INTO dbo.Users (UserName, UserDateOfBirth, UserImageId, UserRole) VALUES (@UserName, @UserDateOfBirth, @UserImageId, @UserRole)
END
GO
/****** Object:  StoredProcedure [dbo].[Users_AddImageToUser]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_AddImageToUser]
	@UserId int,
	@ImageId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserImageId] = @ImageId
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_DemoteToUser]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_DemoteToUser]
	@UserName nvarchar(100),
	@UserRole varchar(50)
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserRole] = @UserRole
	WHERE [UserName] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetAll]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetAll]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserRole] FROM [dbo].[Users]
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetPassByLogin]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetPassByLogin]
	@Login nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserPassword] FROM [dbo].[Users]
	WHERE [UserName] = @Login
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUserById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUserById]
	@UserId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserRole] FROM [dbo].[Users]
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUserByUserName]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUserByUserName]
	@UserName nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserRole] FROM [dbo].[Users]
	WHERE [UserName] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUsersByRole]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUsersByRole]
	@UserRole varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserRole] FROM [dbo].[Users]
	WHERE [UserRole] = @UserRole
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUsersExeptRole]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUsersExeptRole]
	@UserRole varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserDateOfBirth], [UserImageId], [UserRole] FROM [dbo].[Users]
	WHERE [UserRole] <> @UserRole
END
GO
/****** Object:  StoredProcedure [dbo].[Users_PromoteToAdmin]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_PromoteToAdmin]
	@UserName nvarchar(100),
	@UserRole varchar(50)
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserRole] = @UserRole
	WHERE [UserName] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Users_RemoveUserById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_RemoveUserById]
	@UserId int
AS
BEGIN
	DELETE FROM [dbo].[Users]
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_SetPassToUser]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_SetPassToUser]
	@UserName nvarchar(100),
	@HashedPass char(64)
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserPassword] = @HashedPass
	WHERE [UserName] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Update]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Update]
	@UserId int,
	@UserDateOfBirth date
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserDateOfBirth] = @UserDateOfBirth
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[UsersImages_Add]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsersImages_Add]
	@MimeType varchar(100),
	@ImageData varchar(MAX),
	@ImageId int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[UsersImages] (MimeType, ImageData) VALUES (@MimeType, @ImageData)
	SET @ImageId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[UsersImages_AddDefault]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsersImages_AddDefault]
	@MimeType varchar(100),
	@ImageData varchar(MAX)
AS
BEGIN
	INSERT INTO [dbo].[UsersImages] (MimeType, ImageData) VALUES (@MimeType, @ImageData)
END
GO
/****** Object:  StoredProcedure [dbo].[UsersImages_GetById]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsersImages_GetById]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData] FROM [dbo].[UsersImages]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[UsersImages_RemoveImage]    Script Date: 13.02.2019 20:45:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsersImages_RemoveImage]
	@ImageId int
AS
BEGIN
	DELETE FROM [dbo].[UsersImages]
	WHERE [ImageId] = @ImageId
END
GO
USE [master]
GO
