@using dr = Epam.FinalTask.PhotoAlbum.Common.DependencyResolver
@using Avatar = Epam.FinalTask.PhotoAlbum.Entities.Avatar
@using User = Epam.FinalTask.PhotoAlbum.Entities.User

@{ 
    string userName = User.Identity.IsAuthenticated
        ? User.Identity.Name
        : "Guest";

    Avatar avatar = null;

    if (User.Identity.IsAuthenticated)
    {
        avatar = dr.AvatarsLogic.GetUserAvatarByUserName(User.Identity.Name);
    }

    User user = dr.UsersLogic.GetUserByUserName(User.Identity.Name);
}

    <div class="header_content">
        <div class="header_userBlock">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/Users/UserPage?name=@userName" class="accountLink">
                    <p class="userBlock_name">Hello, @userName!</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <img class="userBlock_avatar" src="data:@avatar.MimeType;base64,@avatar.AvatarData" alt="User avatar" />
                    }
                </a>
            }
            else
            {
                <p class="userBlock_name">Hello, @userName!</p>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <a class="userBlock_logLink" href="/Account/Logout">Logout</a>
            }
            else
            {
                <a class="userBlock_logLink" href="/Account/Login">Login</a>
            }
        </div>
        <div class="header_menuBlock">
            <a href="/Index" class="menuBlock_link">Home</a>
            @if (User.IsInRole("Users") && !user.Banned)
            {
                <a href="/Images/UploadImage" class="menuBlock_link">Upload</a>
            }
            @if (User.IsInRole("SuperAdmins"))
            {
                <a href="/Administration/Management" class="menuBlock_link">Management</a>
            }
        </div>
    </div>
