USE [master]
GO
/****** Object:  Database [PhotoAlbumDB]    Script Date: 26.04.2019 19:16:29 ******/
CREATE DATABASE [PhotoAlbumDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhotoAlbumDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhotoAlbumDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 26.04.2019 19:16:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[UserId] [int] NOT NULL,
	[UserPassword] [char](64) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[UserPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avatars]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avatars](
	[AvatarId] [int] IDENTITY(1,1) NOT NULL,
	[MimeType] [varchar](100) NOT NULL,
	[AvatarData] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AvatarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentText] [nvarchar](140) NOT NULL,
	[CommentDate] [datetime] NOT NULL,
	[CommentAuthorId] [int] NOT NULL,
	[Banned] [bit] NOT NULL,
	[CommentImageId] [int] NOT NULL,
 CONSTRAINT [PK__Comments__C3B4DFCA05214004] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[MimeType] [varchar](100) NOT NULL,
	[ImageData] [varchar](max) NOT NULL,
	[ImageDateOfUpload] [datetime] NOT NULL,
	[Description] [nvarchar](140) NULL,
	[ImageOwnerId] [int] NOT NULL,
	[Banned] [bit] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[UserId] [int] NOT NULL,
	[ImageId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserRole] [varchar](50) NOT NULL,
	[UserAvatarId] [int] NOT NULL,
	[Banned] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([UserId], [UserPassword]) VALUES (1, N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9')
GO
INSERT [dbo].[Accounts] ([UserId], [UserPassword]) VALUES (3, N'29795d8de000bfccf8d79656dfc2420258192ee9d5384d588be0330192796563')
GO
INSERT [dbo].[Accounts] ([UserId], [UserPassword]) VALUES (7, N'3621f526c35147cefbf8ffb460fc4602b7ad260bf47b90b71554f0cb214ca20d')
GO
SET IDENTITY_INSERT [dbo].[Avatars] ON 
GO
SET IDENTITY_INSERT [dbo].[Avatars] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 
GO
INSERT [dbo].[Comments] ([CommentId], [CommentText], [CommentDate], [CommentAuthorId], [Banned], [CommentImageId]) VALUES (1, N'good cat', CAST(N'2019-04-23T14:28:03.210' AS DateTime), 1, 0, 2)
GO
INSERT [dbo].[Comments] ([CommentId], [CommentText], [CommentDate], [CommentAuthorId], [Banned], [CommentImageId]) VALUES (4, N'really red', CAST(N'2019-04-26T15:09:32.227' AS DateTime), 3, 0, 2)
GO
INSERT [dbo].[Comments] ([CommentId], [CommentText], [CommentDate], [CommentAuthorId], [Banned], [CommentImageId]) VALUES (6, N'miau', CAST(N'2019-04-26T17:49:35.247' AS DateTime), 7, 0, 2)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
INSERT [dbo].[Likes] ([UserId], [ImageId]) VALUES (1, 2)
GO
INSERT [dbo].[Likes] ([UserId], [ImageId]) VALUES (1, 5)
GO
INSERT [dbo].[Likes] ([UserId], [ImageId]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[Log] ON 
GO
INSERT [dbo].[Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (1, CAST(N'2019-04-26T10:58:35.190' AS DateTime), N'6', N'INFO', N'LOGGER', N'This is test', N'')
GO
INSERT [dbo].[Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (2, CAST(N'2019-04-26T10:58:35.243' AS DateTime), N'6', N'ERROR', N'LOGGER', N'Tried to devide by zero.', N'System.DivideByZeroException: Попытка деления на нуль.
   в ASP._Page_Index_cshtml.Execute() в C:\Users\SergeyPonomarev\source\repos\XT-2018Q4\Epam.FinalTask\Epam.FinalTask.PhotoAlbum.WebUI\Index.cshtml:строка 13')
GO
INSERT [dbo].[Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (3, CAST(N'2019-04-26T11:16:31.827' AS DateTime), N'6', N'INFO', N'LOGGER', N'This is test', N'')
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserRole], [UserAvatarId], [Banned]) VALUES (1, N'admin', N'SuperAdmin', 1, 0)
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserRole], [UserAvatarId], [Banned]) VALUES (3, N'Vasia', N'Admin', 3, 0)
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserRole], [UserAvatarId], [Banned]) VALUES (7, N'Semen', N'User', 4, 0)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Accounts__1788CC4D429ACB5C]    Script Date: 26.04.2019 19:16:30 ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ__Accounts__1788CC4D429ACB5C] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK__Accounts__UserId__3D5E1FD2] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK__Accounts__UserId__3D5E1FD2]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__Commen__5812160E] FOREIGN KEY([CommentAuthorId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__Commen__5812160E]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__Commen__59063A47] FOREIGN KEY([CommentImageId])
REFERENCES [dbo].[Images] ([ImageId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__Commen__59063A47]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__ImageOwn__0C85DE4D] FOREIGN KEY([ImageOwnerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__ImageOwn__0C85DE4D]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK__Likes__ImageId__5441852A] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([ImageId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK__Likes__ImageId__5441852A]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK__Likes__UserId__534D60F1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK__Likes__UserId__534D60F1]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__UserAvata__2645B050] FOREIGN KEY([UserAvatarId])
REFERENCES [dbo].[Avatars] ([AvatarId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__UserAvata__2645B050]
GO
/****** Object:  StoredProcedure [dbo].[Accounts_GetPassByUserId]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Accounts_GetPassByUserId]
	@UserId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserPassword] FROM [dbo].[Accounts]
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Accounts_SetPassToUser]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Accounts_SetPassToUser]
	@UserId int,
	@UserPass char(64)
AS
BEGIN
	INSERT INTO [dbo].[Accounts] (UserId, UserPassword)
	VALUES (@UserId, @UserPass)
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_Add]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_Add]
	@MimeType varchar(100),
	@AvatarData varchar(MAX),
	@AvatarId int OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Avatars] ([MimeType], [AvatarData])
	VALUES (@MimeType, @AvatarData)
	SET @AvatarId = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_GetDefaultAvatar]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_GetDefaultAvatar]
	@AvatarId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [AvatarId], [MimeType], [AvatarData] FROM [dbo].[Avatars]
	WHERE [AvatarId] = @AvatarId
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_GetUserAvatar]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_GetUserAvatar]
	@AvatarId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [AvatarId], [MimeType], [AvatarData] FROM [dbo].[Avatars]
	WHERE [AvatarId] = @AvatarId
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_Remove]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_Remove]
	@AvatarId int
AS
BEGIN
	DELETE FROM [dbo].[Avatars]
	WHERE [AvatarId] = @AvatarId
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_SetAvatarToUser]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_SetAvatarToUser]
	@UserId int,
	@AvatarId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserAvatarId] = @AvatarId
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Avatars_SetDefaultAvatar]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Avatars_SetDefaultAvatar]
	@AvatarId int,
	@MimeType varchar(100),
	@AvatarData varchar(MAX)
AS
BEGIN
	UPDATE [dbo].[Avatars]
	SET [MimeType] = @MimeType, [AvatarData] = @AvatarData
	WHERE [AvatarId] = @AvatarId
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Add]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_Add]
	@CommentText nvarchar(140),
	@CommentDate datetime,
	@CommentAuthorId int,
	@Banned bit,
	@CommentImageId int
AS
BEGIN
	INSERT INTO [dbo].[Comments] (CommentText, CommentDate, CommentAuthorId, Banned, CommentImageId)
	VALUES (@CommentText, @CommentDate, @CommentAuthorId, @Banned, @CommentImageId)
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_CommentBan]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_CommentBan]
	@CommentId int
AS
BEGIN
	UPDATE [dbo].[Comments]
	SET [Banned] = 1
	WHERE [CommentId] = @CommentId
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_CommentUnban]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_CommentUnban]
	@CommentId int
AS
BEGIN
	UPDATE [dbo].[Comments]
	SET [Banned] = 0
	WHERE [CommentId] = @CommentId
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetCommentById]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_GetCommentById]
	@CommentId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [CommentId], [CommentText], [CommentDate], [CommentAuthorId], [Banned], [CommentImageId] FROM [dbo].[Comments]
	WHERE [CommentId] = @CommentId
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetCommentsForImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_GetCommentsForImage]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [CommentId], [CommentText], [CommentDate], [CommentAuthorId], [Banned], [CommentImageId] FROM [dbo].[Comments]
	WHERE [CommentImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Remove]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comments_Remove]
	@CommentId int
AS
BEGIN
	DELETE FROM [dbo].[Comments]
	WHERE [CommentId] = @CommentId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_Add]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_Add]
	@MimeType varchar(100),
	@ImageData varchar(MAX),
	@ImageDateOfUpload datetime,
	@Description nvarchar(140),
	@ImageOwnerId int,
	@Banned bit
AS
BEGIN
	INSERT INTO [dbo].[Images] (MimeType, ImageData, ImageDateOfUpload, Description, ImageOwnerId, Banned)
	VALUES (@MimeType, @ImageData, @ImageDateOfUpload, @Description, @ImageOwnerId, @Banned)
END
GO
/****** Object:  StoredProcedure [dbo].[Images_AddLikeToImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_AddLikeToImage]
	@UserId int,
	@ImageId int
AS
BEGIN
	INSERT INTO [dbo].[Likes] (UserId, ImageId)
	VALUES (@UserId, @ImageId)
END
GO
/****** Object:  StoredProcedure [dbo].[Images_GetAllImages]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_GetAllImages]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData], [ImageDateOfUpload], [Description], [ImageOwnerId], [Banned] FROM [dbo].[Images]
	WHERE [ImageId] <> 1
END
GO
/****** Object:  StoredProcedure [dbo].[Images_GetBannedImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_GetBannedImage]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData], [ImageDateOfUpload], [Description], [ImageOwnerId], [Banned] FROM [dbo].[Images]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_GetImageById]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_GetImageById]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData], [ImageDateOfUpload], [Description], [ImageOwnerId], [Banned] FROM [dbo].[Images]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_GetLikesForImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_GetLikesForImage]
	@ImageId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId] FROM [dbo].[Likes]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_GetUserImages]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_GetUserImages]
	@UserId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ImageId], [MimeType], [ImageData], [ImageDateOfUpload], [Description], [ImageOwnerId], [Banned] FROM [dbo].[Images]
	WHERE [ImageOwnerId] = @UserId
	AND [ImageId] <> 1
END
GO
/****** Object:  StoredProcedure [dbo].[Images_ImageBan]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_ImageBan]
	@ImageId int
AS
BEGIN
	UPDATE [dbo].[Images]
	SET [Banned] = 1
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_ImageUnban]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_ImageUnban]
	@ImageId int
AS
BEGIN
	UPDATE [dbo].[Images]
	SET [Banned] = 0
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_Remove]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_Remove]
	@ImageId int
AS
BEGIN
	DELETE FROM [dbo].[Images]
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_RemoveLikeFromImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_RemoveLikeFromImage]
	@UserId int,
	@ImageId int
AS
BEGIN
	DELETE FROM [dbo].[Likes]
	WHERE [UserId] = @UserId AND [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Images_SetBannedImage]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Images_SetBannedImage]
	@ImageId int,
	@MimeType varchar(100),
	@ImageData varchar(MAX),
	@ImageDateOfUpload datetime,
	@ImageOwnerId int
AS
BEGIN
	UPDATE [dbo].[Images]
	SET [MimeType] = @MimeType, 
		[ImageData] = @ImageData, 
		[ImageDateOfUpload] = @ImageDateOfUpload,
		[ImageOwnerId] = @ImageOwnerId
	WHERE [ImageId] = @ImageId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Add]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Add]
	@UserName nvarchar(100),
	@UserRole varchar(50),
	@UserAvatarId int,
	@Banned bit
AS
BEGIN
	INSERT INTO [dbo].[Users] (UserName, UserRole, UserAvatarId, Banned)
	VALUES (@UserName, @UserRole, @UserAvatarId, @Banned)
END
GO
/****** Object:  StoredProcedure [dbo].[Users_DemoteToUser]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_DemoteToUser]
	@UserId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserRole] = 'User'
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUserById]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUserById]
	@UserId int
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserRole], [UserAvatarId], [Banned] FROM [dbo].[Users]
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetUserByUserName]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_GetUserByUserName]
	@UserName nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [UserId], [UserName], [UserRole], [UserAvatarId], [Banned] FROM [dbo].[Users]
	WHERE [UserName] = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Users_PromoteToAdmin]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_PromoteToAdmin]
	@UserId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [UserRole] = 'Admin'
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Remove]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_Remove]
	@UserId int
AS
BEGIN
	DELETE FROM [dbo].[Users]
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_UserBan]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_UserBan]
	@UserId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [Banned] = 1
	WHERE [UserId] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[Users_UserUnban]    Script Date: 26.04.2019 19:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Users_UserUnban]
	@UserId int
AS
BEGIN
	UPDATE [dbo].[Users]
	SET [Banned] = 0
	WHERE [UserId] = @UserId
END
GO
USE [master]
GO
