@using Epam.FinalTask.PhotoAlbum.Common
@using Epam.FinalTask.PhotoAlbum.Entities
@using Epam.FinalTask.PhotoAlbum.Log

@{
    Page.Title = "Photo Album";

    /*Logger.Log.Info("This is test");

    int j = 0;

    try
    {
        int res = 10 / j;
    }
    catch (DivideByZeroException ex)
    {
        Logger.Log.Error("Tried to devide by zero.", ex);
    }*/

    IEnumerable<Image> images = null;

    try
    {
        images = DependencyResolver.ImagesLogic.GetAllImages()
            .OrderByDescending(i => i.ImageDateOfUpload)
            .ToArray();

        if (images == null)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
    }
    catch (Exception)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }


    Image bannedImage = null;

    try
    {
        bannedImage = DependencyResolver.ImagesLogic.GetBannedImage();

        if (bannedImage == null)
        {
            Response.SetStatus(HttpStatusCode.NotFound);
            return;
        }
    }
    catch (Exception)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

}

@section styles {
    <link href="~/Content/Custom/index.css" rel="stylesheet" />
}

    <div class="wrap">
        <div class="imagesBlock">
            @foreach (Image image in images)
            {
                <a href="/Images/ImagePage?imageId=@image.ImageId" class="imagePageLink">
                    <div class="imageWrapper">
                    @if (!image.Banned)
                    {
                        <img class="image" src="data:@image.MimeType;base64,@image.ImageData" alt="User image id: @image.ImageId" />
                    }
                    else
                    {
                        <img class="image" src="data:@bannedImage.MimeType;base64,@bannedImage.ImageData" alt="This image is banned" />
                    }
                    </div>
                </a>
            }

            <div class="clear"></div>
        </div>
    </div>
