.header {
    background-color: #6fb4ff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header_userBlock {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}

.header_userPageLink {
    display: block;
    color: #212529;
}

.header_userPageLink:hover {
    text-decoration: none;
    color: #212529;
}

.header_userPageLink:active {
    color: #212529;
}

.header_userBlock p {
    display: inline-block;
    margin: 0;
}

.header_userBlock img {
    display: inline-block;
    max-width: 45px;
    margin-left: 1rem;
}

.header_loginBlock {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.header_loginBlock a {
    color: #212529;
}

.header_loginBlock a:active {
    color: #212529;
}

.navbar-wrapper {
    display: inline-block;
}

.nav-link {
    font-weight: 500;
}

.body-content {
    margin-top: 70px;
}

.imagesBlock {
    margin: 20px 0;
    text-align: center;
}

.imagePageLink {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.imageWrapper {
    line-height: 297px;
    text-align: center;
}

.image {
    max-width: 300px;
    max-height: 300px;
    vertical-align: middle;
}

.btn-default {
    background-color: #6fb4ff;
}

.notRegBlock {
    width: 225px;
    margin: auto;
}

.notRegText {
    display: inline-block;
    margin: 0;
}

.inputFileWrapper {
    padding-left: 15px;
}

.manageContentWrapper {
    text-align: center;
}

.defaultAvatarWrapper {
    display: inline-block;
    margin-right: 20px;
}

.bannedImageWrapper {
    display: inline-block;
}

.imageBlock_img {
    width: 400px;
}

.messages {
    margin: 20px 0;
}

.manageFormWrapper {
    margin-top: 20px;
}

.avatarFormWrapper {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
}

.imageFormWrapper {
    display: inline-block;
    width: 400px;
}

.custom-file-label {
    text-align: left;
}

.updateBtn {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 100px;
    font-size: 2rem;
}

.userDataBlock {
    width: 500px;
    margin: 0 auto;
}

.banMessage {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

.userAvatarWrapper {
    width: 300px;
    margin: 0 auto 20px;
}

.menuForAdmin {
    text-align: right;
    margin-bottom: 20px;
}

.fa {
    display: block;
}

.btnUser {
    z-index: 1;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 30px;
}

.userPageBtn {
    margin: 0 10px;
    width: 227px;
    font-size: 1.5rem;
    height: 55px;
}

.avatarEditFormWrapper {
    width: 500px;
    margin: 20px auto;
}

.ownerBlock {
    height: 60px;
}

.userPageLink {
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 60px;
}

.userPageLink:hover {
    color: black;
    text-decoration: none;
}

.userPageLink:active {
    color: black;
    text-decoration: none;
}

.ownerAvatar {
    max-width: 60px;
    margin-right: 10px;
    display: inline-block;
}

.ownerName {
    display: inline-block;
    margin: 0;
    font-size: 25px;
}

.imageBlock_image {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 15px 0;
}

.imageMenuBlock {
    float: left;
}

.likeBlock {
    float: right;
}

.btnImage {
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin: 0 5px;
}

.btnLike {
    color: red;
}

.likeIcon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    color: red;
}

.likesCount {
    margin-right: 5px;
    font-weight: 600;
}

.uploadDate {
    font-size: 12px;
    margin: 15px 0 5px;
}

.imageDescription {
    margin: 0 0 20px 0;
}

.guestMessage {
    text-align: center;
}

.addComment-formGroup {
    width: 88%;
    float: left;
}

.max-width-100 {
    max-width: 100%;
}

.commentForm_label {
    display: block;
    margin-bottom: 5px;
}

.btnImageNewComment {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: block;
    float: left;
    margin-top: 40px;
}

.errorMessage {
    width: 100%;
    text-align: center;
    background-color: rgba(234, 22, 33, 0.3);
    color: #cc0202;
    font-size: 20px;
    line-height: 35px;
    margin: 10px auto;
}

.loginLink {
    color: blue;
}

.loginLink:active {
    color: blue;
}

.comments {
    list-style-type: none;
    padding: 0;
}

.comment {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.commentAuthorPageLink {
    color: grey;
    float: left;
    margin-right: 10px;
    font-weight: 600;
}

.commentDate {
    float: left;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}

.btnComment {
    float: right;
    color: black;
    border: none;
    background-color: transparent;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

@media (max-width: 991px) {
    .defaultAvatarWrapper {
        margin-right: 0;
    }

    .avatarFormWrapper {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .userDataBlock {
        width: 100%;
    }

    .userPageBtn {
        display: block;
        width: 300px;
        margin: 10px auto;
    }
}