@using Epam.FinalTask.PhotoAlbum.Common
@using Epam.FinalTask.PhotoAlbum.Entities

@{
    string userName = Request["name"];
    Page.Title = userName;

    User user = DependencyResolver.UsersLogic.GetUserByUserName(userName);
    Avatar avatar = DependencyResolver.AvatarsLogic.GetUserAvatarByUserName(userName);
}

@section styles {
    <link href="~/Content/Custom/userPage.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Custom/userPage.js"></script>
}

    <div class="wrap">
        <div class="userDataBlock">
            @if (user.Banned)
            {
                <p class="banMessage">This user is banned!</p>
            }

            <h2 id="userName" data-name="@user.UserName" class="userAcc_header">@userName</h2>
            <img class="userAcc_avatar" src="data:@avatar.MimeType;base64,@avatar.AvatarData" alt="User Avatar" />
            <div class="menuForAdmin">
                @if ((User.IsInRole("Admins") && user.UserRole == "User") || User.IsInRole("SuperAdmins"))
                {
                    if (!user.Banned)
                    {
                        <button id="banUser" class="btnUser btnUserBan" title="Ban this user">
                            <i class="fa fa-ban"></i>
                        </button>
                    }
                    else
                    {
                        <button id="unbanUser" class="btnUser btnUserUnban" title="Unban this user">
                            <i class="fa fa-check-circle-o"></i>
                        </button>
                    }

                    if (User.IsInRole("SuperAdmins"))
                    {
                        if (user.UserRole == "User")
                        {
                            <button id="promoteUser" class="btnUser btnUserPromote" title="Promote to admin">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        }

                        if (user.UserRole == "Admin")
                        {
                            <button id="demoteUser" class="btnUser btnUserDemote" title="Demote to user">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                        }
                    }
                }
            </div>

            @if (User.Identity.Name == user.UserName)
            {
                <a href="/Users/EditProfile?userName=@user.UserName" class="btnProfile btnProfile_edit">Edit profile</a>
                <button data-name="@user.UserName" id="deleteBtn" class="btnProfile btnProfile_delete">Delete profile</button>
                <div class="clear"></div>
            }
        </div>

        <div class="imagesBlock">
            @foreach (Image image in user.UserImages)
            {
                <a href="/Images/ImagePage?imageId=@image.ImageId" class="imagePageLink">
                    <div class="imageWrapper">
                        @if (!image.Banned)
                        {
                            <img class="image" src="data:@image.MimeType;base64,@image.ImageData" alt="User image id: @image.ImageId" />
                        }
                        else
                        {
                            Image bannedImage = DependencyResolver.ImagesLogic.GetBannedImage();
                            <img class="image" src="data:@bannedImage.MimeType;base64,@image.ImageData" alt="This image is banned" />
                        }
                    </div>
                </a>
            }

            <div class="clear"></div>
        </div>
    </div>
