@using Epam.FinalTask.PhotoAlbum.Common
@using Epam.FinalTask.PhotoAlbum.Entities

@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.SetStatus(HttpStatusCode.NotFound);
        return;
    }

    Page.Title = "Upload image";

    string errorMessage = null;
    User user;

    try
    {
        user = DependencyResolver.UsersLogic.GetUserByUserName(User.Identity.Name);
    }
    catch (Exception)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

    if (user == null)
    {
        Response.SetStatus(HttpStatusCode.NotFound);
        return;
    }

    if (user.Banned)
    {
        Response.SetStatus(HttpStatusCode.BadRequest);
        return;
    }

    int imageMaxSize = 1048576;

    if (IsPost)
    {
        WebImage photo = WebImage.GetImageFromRequest();

        string description = Request["description"];

        if (photo != null)
        {
            if (photo.GetBytes(photo.ImageFormat).Length <= imageMaxSize)
            {
                Image image = new Image();

                image.Description = description;

                photo.Resize(width: 1000, height: 1000, preserveAspectRatio: true, preventEnlarge: true);

                byte[] data = photo.GetBytes(photo.ImageFormat);

                image.MimeType = MimeMapping.GetMimeMapping(photo.FileName);

                image.ImageData = Convert.ToBase64String(data);

                image.ImageOwnerId = user.UserId;

                if (DependencyResolver.ImagesLogic.Add(image))
                {
                    Response.Redirect($"/Users/UserPage?name={User.Identity.Name}");
                }
                else
                {
                    errorMessage = "File uploading error.";
                }
            }
            else
            {
                errorMessage = "File size must not exceed 1 mb.";
            }
        }
    }
}

@section styles {
    <link href="~/Content/Custom/uploadImage.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Custom/uploadImage.js"></script>
}

<div class="wrap">
    <h2 class="header">Upload new image</h2>
    <form method="post" class="uploadImageForm" enctype="multipart/form-data">
        <div class="formBlock">
            <label for="image" class="formLabel">New image</label>
            <input id="image" type="file" name="image" class="formInput_file" />
        </div>
        <div class="formBlock">
            <label for="description" class="formLabel">Add description</label>
            <textarea id="description" name="description" class="formInput_text"></textarea>
            <span class="charCountValid" id="charCount">140</span>
        </div>
        <button id="btnSubmit" type="submit" class="btnUpload">Upload</button>
    </form>

    @if (IsPost)
    {
        <div class="errorMessage">
            <p>@errorMessage</p>
        </div>
    }
</div>
