<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UsersAndAwardsDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=UsersAndAwardsDB; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UsersDaoKey" value="sqlDB"/>
    <add key="AwardsDaoKey" value="sqlDB"/>
    <add key ="AwardsUsersDaoKey" value ="sqlDB"/>
  </appSettings>
</configuration>